h2 {
    font-size: 30px;
    letter-spacing: 2px;
    color: var(--hueso);
    margin-bottom: 0;
}

.titulo {
    padding: 80px 5% 40px 5%;
}

.planes {
    padding: 40px 5% 70px 5%;
}

.tarjeta {
    padding: 35px 25px;
    width: 30%;
    margin-bottom: 50px;
}

.tarjeta .precio {
    font-family: var(--fuente-destacada);
    font-size: 52px;
    color: var(--dorado);
    margin-top: 15px;
    margin-bottom: 25px;
}

.beneficios {
    list-style: none;
    margin-bottom: 35px;
}

.beneficios li {
    color: var(--gris);
    font-size: 17px;
    padding: 10px 0px;
    border-bottom: 3px solid var(--negro);
}

.boton {
    padding: 15px 35px;
    font-size: 18px;
}

@media (max-width: 768px) {

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    .tarjeta .precio {
        font-size: 40px;
    }

    .tarjeta {
        width: 100%;
    }

}
